<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/Logs/log.txt"
            archiveAboveSize="5000000"
            maxArchiveFiles="4"
            archiveEvery ="Month"
            encoding="utf-8"
            layout="[${longdate}][${machinename}] - [${level}] ${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" levels="Trace,Error,Warn" writeTo="file" />
  </rules>
</nlog>
