?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/42d653c8-4443-4516-b3e2-157f4fbaa171/resourceGroups/Nexo-BOT/providers/Microsoft.Web/sites/nexo-qnamaker</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://nexo-qnamaker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>nexo-qnamaker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nexo-qnamaker</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nexo-qnamaker</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>