################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatBOT/.vs
/ChatBOT/bin
/ChatBOT/obj
/SentimentAnalysis/obj
/SentimentAnalysis/bin/Debug


ChatBOT/.vs
ChatBOT/bin
ChatBOT/obj
SentimentAnalysis/obj
SentimentAnalysis/bin/Debug